<form class="text-center" action="/login" method="post">
  <h3 class="h3 mb3 font-weight-normal">Log In</h3>
  <input type="email" name="email" class="form-control mb-3" placeholder="Email address" required autofocus>
  <input type="password" name="password" class="form-control mb-3" placeholder="Password" required autofocus>
  <button class="btn btn-info btn-block my-4" type="submit">Log In</button>
</form>
