<%# <form action="/login" method="post">
  <label for="name">Name:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <button type="submit">Login</button>
</form> %>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
            <h4 class="my-0 font-weight-normal">Log In</h4>
      </div>
      <div class="card-header">
        <form action="/login" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username">
            <hr>
            <input type="password" class="form-control" placeholder="Password" name="password">
            <hr>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>