<form action="/singup" method="post">
  <h1>Sing Up</h1>
  <label for="name">Name:</label>
  <input type="text" id="username" name="username">
  <label for="mail">Email:</label>
  <input type="email" id="email" name="email">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <button type="submit">Sign Up</button>
</form>