<ol>
  <% @reviews.each do |review| %>
    <li> <h3><%= review.mark %></h3>
      <h2><%= review.description %></h2>
      <ul>
        <li>From user: <%= review.user.login %></li>
        <li>To restaurant: <%= review.restaurant.name %></li>
      </ul>
    </li>
  <% end %>
</ol>

<a href="/users">Users</a>
<a href="/restaurants">Restaurants</a>