<!doctype html>
<html>
<head>
  <title>Рейтинг</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Рейтинг заведений</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">На главную</a>
    </nav>
    <% if current_user %>
      <a class="btn btn-outline-primary" href="/sessions/logout">Выйти</a>
    <% else %>
      <a class="btn btn-outline-primary" href="/signup">Регистрация</a>
      <a class="btn btn-outline-primary" href="/sessions/login">Войти</a>
    <% end %>
  </div>
</header>


  <%= yield %>


</body>
</html>
