<footer>
  <div class="w3-container w3-padding-large w3-grey">
    <div class="w3-row-padding w3-center w3-padding-15" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>minskplaces@gmail.com</p>
      </div>
      <div class="w3-third w3-green">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Minsk, Belarus</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>+375(29)-xxx-xx-xx</p>
      </div>
    </div>
  </div>
</footer>
