<div class="container" style="margin-bottom: 20%; margin-top: 5%">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="text-center" action="/login" method="post">
        <h3 class="h3 mb3 font-weight-normal">Log In</h3>
        <input type="email" name="email" class="form-control mb-3" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required autofocus>
        <button class="btn btn-info btn-block my-4" type="submit">Log In</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<% if session[:message] %>
  <div id="error" class="w3-modal" style="display: block;">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="width: 400px;">
      <div class="w3-section w3-center">
        <div><label class="w3-padding-36 w3-center w3-panel"><%= session[:message] %></label></div>
        <a href="/delete_message_from_session" id="closeError" class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Cancel</a>
      </div>
    </div>
  </div>
<% end %>
