<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="<%= url('application.js') %>" type="text/javascript" />
    <link href="<%= url('styles.css') %>" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Food Guide</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand nav-title" href="/">Restaurant Critic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
        <% if current_user? %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign out</a>          
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/sign_up">Sign up</a>          
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign_in">Sign in</a>          
          </li>
        <% end%>
        </ul>        
      </div>     
    </nav> 

    <% if flash.has?(:error) %>
      <div class="alert alert-danger box" role="alert">
        <%= flash[:error] %> 
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
