<h3>New review</h3>
<form method="post" action="/bars/<%= @bar_id %>/comments/new">
  <label for="rate"><strong>Rating:</strong></label><br>
  <input id="rate" type="text" name="rate" value="" style="width: 250px;">
  <br>
  <label for="body"><strong>Comment:</strong></label><br>
  <textarea id="body" name="body" style="height: 250px; width: 250px;"></textarea>
  <br>
  <input type="submit" name="submit" value="Publish">
</form>
