!!! 5
%html
  %head
    %link{ :crossorigin => "anonymous",
           :href => ENV['BOOTSTRAP'],
           :integrity => ENV['BOOTSTRAP_INTEGRITY'],
           :rel => "stylesheet" }
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet" }
    %link{ :href => "/stylesheets/flash.css", :rel => "stylesheet" }
    %title Places
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{ :href => "/places" } Places
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{ :href => "/places" }
            Home
            %span.sr-only (current)
      .nav-item.nav-link.white-text
        = session[:email]
      %a{ :href => "/logout" }
        %button.btn.btn-outline-success.my-2.my-sm-0{ :type => "submit" } Logout
    %main.container{ :role => "main" }
      .starter-template
        = styled_flash
        = yield
