<h3>Создать</h3>
<form method="post" action="/bars/new">
  <label for="title"><strong>Название:</strong></label><br>
  <input id="title" type="text" name="title" value="" style="width: 250px;">
  <br>
  <label for="description"><strong>Краткое описание:</strong></label><br>
  <textarea id="description" name="description" style="height: 150px; width: 250px;"></textarea>
  <br>
  <label for="body"><strong>Об объекте:</strong></label><br>
  <textarea id="body" name="body" style="height: 250px; width: 250px;"></textarea>
  <br>
  <label for="coordinates"><strong>Координаты:</strong></label><br>
  <textarea id="coordinates" name="coordinates" style="height: 50px; width: 250px;"></textarea>
  <br>
  <input type="submit" name="submit" value="Создать">
</form>
