<% @restaurants.each do |restaurant| %>
  <div>
    <hr>
    <h4><%= restaurant.name %></h4>
    <%= restaurant.location %></p>
    <%= restaurant.description.truncate(150) %>
    <a href="/<%= restaurant.name %>">more</a>
  </div>
<% end %>
