<html>
    <head>
        <title>MUNCH BUNCH</title>
    </head>
    <body>

        <% if session[:id].nil? %>
            <div>
                <a href="/login">login</a>
                <a href="/registration">register</a>
                <hr>
            </div>
        <% else %>
            <div>
                <%= User.find(session[:id])[:username] %>
                <a href="/logout">log out</a>
                <hr>
            </div>
        <% end %>

        <div align="center">
           <h1><a href="/" style="text-decoration: none">MUNCH BUNCH</a></h1>
        </div>

        <%= yield %>

        <div align="right">
            <hr>
            rubizza MMXIX
        </div>
    </body>
</html>
