<html>
    <head>
        <title>MUNCH BUNCH</title>
    </head>
    <body>
        <div>
            <a href="/login">login</a>
            <a href="/register">register</a>
            <hr>
        </div>

        <div align="center">
            <a href="/" style="text-decoration: none"><h1>MUNCH BUNCH</h1></a>
        </div>

        <%= yield %>

        <div align="right">
            <hr>
            rubizza MMXIX
        </div>
    </body>
</html>
