<form method="POST" action="/login">
  <hr>
  <h3>User Login Form</h3>
  <p>Email address: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
