<form method="POST" action="/registration">
  <hr>
  <h3>User Registration Form</h3>
  <p>User name: <input type="text" name="username"></p>
  <p>Email address: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
