<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link href="not_found.css" rel="stylesheet">
  </head>
  <body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">404</span></h1>
      <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
      <p class="output">Please <a href="/">return to the homepage</a>.</p>
      <p class="output">Good luck.</p>
    </div>
  </body>
</html>
