/.hound.yml @rubizza-camp/rubizza-mentors-guild
/.reek.yml @rubizza-camp/rubizza-mentors-guild
/.rubocop.yml @rubizza-camp/rubizza-mentors-guild
/README.md @rubizza-camp/rubizza-mentors-guild
/.github/PULL_REQUEST_TEMPLATE.md @rubizza-camp/rubizza-mentors-guild
