  <div class="row marketing">
    <% @all_restaurants.each do |restaurant| %>
      <div class="card mt-2 ml-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= restaurant.name %> </h5>
          <p class="card-text"> <%= restaurant.short_description %> </p>
          <a href="/restaurant/<%= restaurant.name %>" class="btn btn-outline-secondary">More info</a>
        </div>
      </div>
    <% end %>
  </div>
