<div class="signup-form">
  <form action="/sign_in" method="post">

    <h2>Login</h2>
    <p class="hint-text">Log in to your account</p>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
    </div>

  </form>
</div>
