form {
  width: 70%;
  margin: 100px auto;
  font: 700 .9em Arial, serif;
}

div {
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 500;
  margin-bottom: 7px;
}

p {
  position: relative;
  padding-left: 20px;
}

p input {
  width: 220px;
  position: relative;
}

p input, footer button {
  position: absolute;
  left: 100px;
}

footer button {
  position: relative;
  top: 10px;
  width: 150px;
  color: #fff;
  background-color: #029E0A;
  border-radius: 25px;
  border: none;
  height: 20px;
  background: linear-gradient(#018D09, #0BE100);
}

footer button::before {
  position: absolute;
  content: '';
  height: 50%;
  width: 96%;
  left: 2%;
  top: 0.9px;
  background: linear-gradient(rgba(300, 300, 300, 0.9), rgba(300, 300, 300, 0.4));
  border-radius: 25px;
}

p:nth-child(3n) {
  margin-bottom: 40px;
}

p:last-child span:first-of-type {
  font-weight: bold;
  display: inline-block;
  transform: rotate(15deg) translate(15px) skewY(-30deg);
}

footer {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: lightgray;
  position: relative;
  border: 1px solid lightgray;
}

p input + span {
  position: absolute;
  left: 330px;
  width: 200px;
}

p input:invalid + span::after {
  content: 'x';
  color: red;
  position: absolute;
}

p:last-child input:invalid + span::after {
  content: 'x Неправильное число';
}

p input:valid + span::after {
  content: url(http://htmlbook.ru/example/images/ok.png);
  color: green;
  position: absolute;
}
