<form action='create'>
  <p>Login</p>
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
