<h1>Log in</h1>
<form action='/users/login', method='post' class="user_form">
  <div class="user_form_item">
    <input type="text" name='user[email]' placeholder="email">
  </div>
  <div class="user_form_item">
    <input type="text" name='password' placeholder="password">
  </div>
  <div class="user_form_item">
    <button type="submit">Submit</button>
  </div>
</form>
