<h1 style="text-align:center">Sorry! Incorrect email or password. Try again</h1>
<h2 style="text-align:center">Please fill in fields for Sing in:</h2>
<form style='text-align:center' method="POST" action="/user/singin">
  <p><b>Your email:</b><br>
    <input type="text" required placeholder="Enter your email!" name='email' size="30">
   </p>

   <p><b>Your password:</b><br>
    <input type="text" required placeholder="Enter your password!" name='password' size="30">
   </p>
  
  <button type="submit">Sing in</button>
  <button type="reset">Clear</button>
 </form>