<h1 style="text-align:center">Please fill in the registration fields:</h1>

<form style='text-align:center' method="POST" action="/user/singup">
  <p><b>Your login:</b><br>
   <input type="text" name='name' required placeholder="Enter your name!" size="30">
  </p>

  <p><b>Your email:</b><br>
    <input type="text" required placeholder="Enter your email!" name='email' size="30">
   </p>

   <p><b>Your password:</b><br>
    <input type="text" required placeholder="Enter your password!" name='password' size="30">
   </p>
  
  <button type="submit">Sing up</button>
  <button type="reset">Clear</button>
 </form>