<form action='/posts/create, 'method: 'post'>
  <input type="text" name='post[title]' placeholder="title">
  <input type="text" name='post[summary]' placeholder="summary">
  <textarea name="body" name='post[text]' placeholder="body"></textarea>
  <button type="submit">Submit</button>
</form>
