<head>
  <meta charset="utf-8">

  <style type="text/css">
    body {
      color: #fff;
      background: #3598dc;
      font-family: 'Roboto', sans-serif;
    }
    .form-control {
      min-height: 41px;
      box-shadow: none;
      border-color: #ddd;
    }
    .form-control, .btn {
      border-radius: 3px;
    }
    .signup-form {
      width: 390px;
      margin: 0 auto;
      padding: 30px 0;
    }
    .signup-form form {
      color: #999;
      border-radius: 3px;
      margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
    }
    .signup-form h2 {
      color: #333;
      font-weight: bold;
      margin-top: 0;
    }
    .signup-form hr {
      margin: 0 -30px 20px;
    }
    .signup-form .form-group {
      margin-bottom: 20px;
    }
    .signup-form label {
      font-weight: normal;
      font-size: 13px;
    }
    .signup-form input[type="checkbox"] {
      margin-top: 2px;
    }
    .signup-form .btn {
      font-size: 16px;
      font-weight: bold;
      background: #3598dc;
      border: none;
      min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:active {
      background: #2389cd;
      outline: none !important;
    }
    .signup-form a {
      color: #fff;
      text-decoration: underline;
    }
    .signup-form a:hover {
      text-decoration: none;
    }
    .signup-form form a {
      color: #3598dc;
      text-decoration: none;
    }
    .signup-form form a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<div class="signup-form">
  <form action="/registration" method="post" >
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account!</p>
    <hr>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" required="required">
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" name="email" required="required">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" required="required">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="confirm_password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </form>
  <div class="text-center">Home page ? <a href="/"> HERE</a></div>
</div>
</body>