<form action='/login/auth' method='post'>
    <h2>Sign in</h2>
    <p>E-mail:</p>
    <p>
        <input type="text" name='email' placeholder="email" autofocus>
    </p>
    <p>Password:</p>
    <p>
        <input type="password" name='password' placeholder="password" autofocus>
    </p>
    <p>
        <input class="btn primary" type='submit' value='sign in'>
    </p>
</form>
