<h3>Minsk restaraunts</h3>  
<% Restaraunt.all.each do |restaraunt| %>
  <hr>
  <div>
      <p><a href="/restaraunts/<%= restaraunt.id %>">Name: <%= restaraunt.name %></a></p>
      <p>Description: <%= restaraunt.description %></p>
      <p>Location: <%= restaraunt.location %></p>
      <br>
  </div>
<% end %>
