<div class='row' style='margin: 6px 32px'>
  <% Restaurant.all.each do |restaurant| %>
    <div class='col-sm-6'>
      <div class="card m-3" style='background-color: #D2B48C'>
        <div class="card-body">
          <h5 class="card-title"><b><%= restaurant.name %></b></h5>
          <p class="card-text"><%= restaurant.description %></p>
          <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary" style='background-color: #696969'>About Restaurant</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
