.block {
  max-width: 48rem;
  margin: 3rem auto;
  font-size: 1.3rem;
  font-style: normal;
  border: .125rem solid #63287d;
}

.block__name {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.block__description {
  text-align: justify;
  text-transform: none;
  margin: 0 1.5rem;
}

.block__coorinates {
  text-transform: none;
  margin-bottom: .5rem;
}

.block__hidden {
  display: none;
}
