#comment {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.comment_body {
  width: 30%;
  position: absolute;
  margin: 7rem 30%;
  padding: 2rem;
  background-color: #63e091;
  z-index: 5;
  text-align: center;
}

#comment__close {
  text-decoration: underline;
  text-align: right;
}

#comment__close:hover {
  cursor: pointer;
}

.comment {
  border: .125rem solid #63287d;
  padding: 1rem;
  margin: 3rem auto;
  font-size: 1.5rem;
  text-transform: none;
  text-align: justify;
}
