.login {
  position: absolute;
  margin: 7rem 35%;
  padding: 2rem;
  background-color: #63e091;
  z-index: 5;
  text-align: center;
}

.login__close {
  text-decoration: underline;
  text-align: right;
}

.login__close:hover {
  cursor: pointer;
}

.login--large {
  font-size: 2rem;
}

.login__link{
  text-decoration: underline;
  color: #63287d;
  margin: 1rem;
}

.login__link:hover {
  cursor: pointer;
  color: #311140;
}

#login__close {
  text-decoration: underline;
  text-align: right;
}

#login__close:hover {
  cursor: pointer;
}
