.modal {
  position: absolute;
  z-index: 1;
  background-color: rgba(99, 40, 125, .9);
  width: 100vw;
  height: 100vw;
  display: none;
}

.modal--disable {
  display: none;
}

.modal--enable {
  display: block;
}
