<div class="col-md-12 col-lg-12">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome back!</h3>
                    <form method="POST" action="/sign_in">
                        <div class="form-label-group">
                            <label for="inputEmail">Email address</label>
                            <input name="email" class="form-control" placeholder="Email address" required autofocus>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-light btn-outline-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                        <div class="text-center">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>