<div class="col-md-12 col-lg-12">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Registration</h3>
                    <form method='POST' action='/create_user'>
                        <div class="form-label-group">
                            <br>
                            <label for="inputName">Name</label>
                            <input name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
                        </div>
                        <div class="form-label-group">
                            <br>
                            <label for="inputEmail">E-mail</label>
                            <input name="email" id="inputEmail" class="form-control" placeholder="E-mail" required>
                        </div>
                        <div class="form-label-group">
                            <br>
                            <label for="inputPassword">Password</label>
                            <input name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-light btn-outline-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>