<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PLACES</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel=”stylesheet” href=" <%= url('/style.css') %> " type=”text/css”/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%# <style>
      * {
        font-family: 'Fix Sans';
      }
      .header {
        background-color: #333;
        min-height: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        color: white;
        padding: 14px 16px 11px 12px;
      }
      .title {
        width: 243px;
        height: 30px;
      }
      .post_header
      {
        margin-top: 103px;
        height: 80%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* Add a blue text color to links */
      .post_header {
        color: #000000;
      }
      .header_button {
        padding: 10px 14px;
        background: #007bff;
        color: white;
        border: none;
        font-weight: 600;
        float: right;
        margin-left: 10px;
        align: center;
       }
    </style> %>
  </head>
  <body>
    <div class="fon">
      <div class='header col-md-12'>
        <div class="col-md-9">
          <a class="title" href="/places/"><h1>PLACES</h1></a>
        </div>
        
        <div class="header-buttons col-md-3">
          <span>
            <% if loged_in? %>
              <a class="header_button" href="/logout">Log off</a>
            <% else %>
              <a class="header_button" href="/signup">Sign Up</a>
              <a class="header_button" href="/login">Log In</a>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="post_header">
      <% flash.keys.each do |type| %>
        <div data-alert class="alert alert-<%= type %>" role="alert">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html> 