<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/register button */

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>

<form action="/places/new" method="POST">
  <div class="container">
    <h1>Create new place</h1>
    <p>Please fill in this form to create a place.</p>
    
    <label for="name"><b>Place name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>

    <label for="note"><b>Place note</b></label>
    <input type="text" placeholder="Enter note" name="note" required>

    <label for="description"><b>Place description</b></label>
    <input type="text" placeholder="Enter description" name="descr">
    
    <label for="longtitude"><b>Place longtitude</b></label>
    <input type="text" placeholder="Enter longtitude" name="longit" required>

    <label for="latitude"><b>Place latitude</b></label>
    <input type="text" placeholder="Enter latitude" name="latit" required>

    <button type="submit" class="registerbtn">Create</button>
  </div>
</form>