body {
  background: #cec0c0;
}

header {
  padding-left: 50%;
  list-style: none;                    
  display: flex;
}

.header-menu-item {
  padding: 40px 30px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}   

button.header-menu-item {
  border: none;
  background: none;
}

.alert_box {
  margin: 15px;
  padding: 20px;
  background: #cc6e6e;
  color: white;
  font-size: 20px;
}

.sign_in, .sign_up, .place {
  background: #cc6e6e;
  box-shadow:  
  0 1px 4px #0000004d,
  -23px 0 20px -23px #000000cc,
  23px 0 20px -23px #000000cc,
  0 0 40px #0000001a inset;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 20px;
}

.place {
  margin-top: 20px; 
  width: 60%;
  color: white;
}

input {
  border-radius: 20px;
  padding: 10px;
  width: 90%
}

label {
  padding: 20px;
  color: white;
  font-size: 30px;
}

.btn_sign_in, .btn_sign_up {
  display: flex;
  background: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: none;
  color: #cc6e6e;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.place {
  color: white;
  font-size: 20px;
}

.place .name {
  color: white;
  font-size: 30px;
}

p.stars {
  padding: 20px;
  font-size: 20px;
  background: white;
  color: #cc6e6e;
  border-radius: 50px;
  width: 5%;
}

.reviews {
  background: white;
  margin: 20px auto;
  width: 63%;
  box-shadow:  
  0 1px 4px #0000004d,
  -23px 0 20px -23px #000000cc,
  23px 0 20px -23px #000000cc,
  0 0 40px #0000001a inset;
}

.review {
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
  color: #cc6e6e;
  font-size: 15px;
}

.reviews .review_form form div {
  list-style: none;    
  display: flex;
}

.reviews .review_form form div {
  padding: 10px;
}

.reviews .review_form .col .grade {
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  background: #cc6e6e;
  color: white;
}

.reviews .review_form .form-text {
  width: 500px;
  height: 250px;
}

.btn_add_review {
  background: #cc6e6e;
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}
