<div class="list">
  <% @locations.each do |location| %>
    <a class="list-item" href="/location/<%= location.id %>">
      <img class="list-image" src=<%=location.photo_url %>>
      <p class="list-name"><%= location.name %></p>
      <p class="list-description"><%= location.description %></p>
    </a>
  <% end %>
</div>
