body
{
    width: unset;
    min-height: unset;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
h1.display-4
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.mdl-textfield__input
{
    margin-bottom: 7px;
}
.mdl-card
{
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.demo-card-wide > .mdl-card__title
{
    padding: unset;
    color: rgba(255, 255, 255, 0.876);
    background-color:rgba(206, 163, 84, 0.65);
    height: 140px;
}
.snack_bar_rating
{
  user-select: none;
  display: flex;
  align-items: center;
}
.snack_bar_rating .material-icons
{
  padding: 0px;
  margin: -1.5px;
}

.mdl-card__title .content {
    width: auto; /* =cw */
    height: auto; /* =ch */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -10%; /* =ct */
    left: 50%; /* =cl */
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.mdl-card__title .text {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(2, 18, 37, 0.301);
  height: 100%;
  text-align: center;
  box-sizing: border-box; /* so that padding is included in height */
}

.mdl-card__title .blur {
  height: 140px; /* h */
  width: 330px; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -31.02%,
    -6.7%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(5px);
  z-index: -1;
}
.top_right_user_button
{
  z-index: 1500;
  position: fixed;
  top: 7px;
  right: 7px;
}
.top_right_user_button button
{
  background-color: rgba(218, 214, 214, 0.842);
}
#demo-menu-lower-right:active {
  outline: none;
}
a button, a:hover, a:visited, a:active{
  color:inherit !important;
  text-decoration: none !important;
}
.user_self_rating
{
  margin-left: 20px;
}
.user_comment_create
{
  display: flex;
  align-items: center !important;
  max-height: 60px;
}
.rating_button
{
  margin-left: -5px;
  margin-right: -5px;
}
.rating_button:first-child
{
  margin-left: 3px;
  margin-right: -5px;
}
.rating_button:last-child
{
  margin-left: -5px;
  margin-right: 3px;
}
button:focus,.btn:active
{
  outline: none !important;
  box-shadow: none;
}
.lrm10
{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.tooltip_menu
{
  max-width: unset;
  width: max-content;
  
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 30px;
}
.tooltip_menu_item
{
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgba(231, 231, 231, 0.39);
}
.mdl-chip__contact
{
  background-color: rgb(255, 255, 255);
}
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.users_comment_rating
{
  user-select: none;
}
.users_comment_rating .material-icons
{
  font-size: 17px !important;
}