<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/register button */

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.error {
  color: red;
}

.notification {
  color: green;
}
</style>

<form action="/signup" method="POST">
  <div class="container">
    <h1>Input your login data</h1>
    <p>Please fill in this form to login.</p>
    
    <% if session[:error]%>
      <p class="error"><%= session[:error] %></p>
      <% session.delete(:error) %>
    <% elsif session[:notification] %>
      <p class="notification"><%= session[:notification] %></p>
      <% session.delete(:notification) %>
    <% end %>

    <label for="mail"><b>Place your e-mail</b></label>
    <input type="text" placeholder="Enter your e-mail" name="mail" autocomplete="username" required>

    <label for="password"><b>Place password</b></label>
    <input type="password" placeholder="Enter password" name="password" required>

    <label for="u_name"><b>Place your username</b></label>
    <input type="text" placeholder="Enter your username" name="u_name" required>

    <label for="f_name"><b>Place your first name</b></label>
    <input type="text" placeholder="Enter your first name" name="f_name" required>

    <label for="l_name"><b>Place your last name</b></label>
    <input type="text" placeholder="Enter your last name" name="l_name">

    <button type="submit" class="registerbtn">Log in!</button>
  </div>
</form>