<h2>Login To Your Account</h2>

<form action="/login" method="POST">
  <p>Username: <input type='text' id='username' name="username"></p>
  <p>Password: <input type='password' id='password' name="password"></p>
  <input type='Submit'>
</form>
<br />

<p>Dont have an account?</p>
<p><a href='/signup'>Sing up</a></p>

<p><a href='/'>Back To Homepage</a></p>
