<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h3 class="text-center">Регистрация</h3>
      <form class="form" action="/users" method="post">
        <div class="col-xs-12">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Введите Имя"/>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Ваш E-mail"/>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <input type="password" name="password" class="form-control" value="samplepass"/>
          </div>
        </div>
        <div class="text-center col-xs-12">
          <input type="submit" class="btn btn-default" value="Готово"/>
        </div>
      </form>

    </div>
  </div>
</div>
