<div class="container">
  <% @restaraunts.each do |restaraunt| %>
    <div class="row">
      <div class="shadow-sm p-3 mb-5 bg-white rounded" style="width: 70%">
        <div class="columns align-item-center">
          <div class="col-sm-4">
            <a href="/restaraunt/<%= restaraunt.name %>"><h3 style="color: #90EE90"><%= restaraunt.name %></h3></a>
          </div>
          <div class="col-sm-6">
            <%= restaraunt.coordinate %>
          </div>
          <div class="col-sm-12" >
            <p >
              <%= restaraunt.description.truncate(100, separator: ' ') %>
            </p>
          </div>
          <div class="col-sm-2">

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>