<div class="container">
  <form class="form-sigup" action="/signup" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb3 font-weight-normal" style="color: #00FA9A">Sign In</h1>
    </div>
    <div class="form-label-group">
      <label for="inputUsername">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>    
    </div>
    <br>
    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>    
    </div>
    <br>
    <div class="form-label-group">
      <label for="inputPassword">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>    
    </div>
    <br>
    <button class="btn btn-success" type="submit">Sign In</button>
  </form>
</div>