<form class="text-center border border-light p-5" action="/sessions/login" method="post">
  <p class="h4 mb-4">Signing in</p>
  <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">
  <input type="password" name="password" class="form-control mb-4" placeholder="Password">
  <button class="btn btn-warning text-dark btn-block my-4" type="submit">Login</button>
</form>
