<h2>Список заведений</h2>
<br />

<% @shops.each do |shop| %>
  <p>
    <a href="/shop/<%= shop['id'] %>">Название: <%= shop.name %></a>
    <br />
    <span class="d-inline-block text-truncate">
      Описание: <%= shop.description %>
    </span>
    <br />
    Адрес: <%= shop.adress %>
  </p>
  <hr />
<% end %>