<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/pages.css">
</head>
<body>
<div class="signup-form">
  <form action="/registration" method="post" >
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account!</p>
    <hr>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" required="required">
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" name="email" required="required">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" required="required">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="confirm_password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </form>
  <div class="text-center">Home page ? <a href="/"> HERE</a></div>
</div>
</body>
