<form action='/reviews', method='post' class="form_review">
  <div class="form_review_text"><textarea type="text" name='review[comment]'></textarea></div>
  <div class="form_review_button"><button type="submit">Submit</button></div>
</form>
