<form action='/posts', method='post'>
  <input type="text" name='post[title]' placeholder="title">
  <input type="text" name='post[summary]' placeholder="summary">
  <textarea type="text" name='post[body]' placeholder="body"></textarea>
  <button type="submit">Submit</button>
</form>
