<form action='/posts', method='post'>
  <div class="post_form">
    <div class="post_form_item">
      <input type="text" name='post[title]' placeholder="title">
    </div>
    <div class="post_form_item">
      <input type="text" name='post[summary]' placeholder="summary">
    </div>
    <div class="post_form_item">
      <textarea type="text" name='post[body]' placeholder="body"></textarea>
    </div>
    <div class="post_form_item">
      <button type="submit">Submit</button>
    <div>
  </div>
</form>
