<h1>Full places list </h1>

<% @posts.each do |post| %>
<div class="post_item">
  <div class="post_item_title">
   <a href="/posts/all/<%= post.id %>"><%= post.title %></a>
  </div>
  <div class="post_item_summary">
   <p><%= post.summary %></p>
  </div>
  <p><%= post.reviews.average(:star) %></p>
 </div>
<% end %>
