<!DOCTYPE html>
<head>

   <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
	<title>Choose wisely.</title>

   <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">  
	<link rel="stylesheet" href="css/media-queries.css"> 

</head>

<body>

   <header id="top">

   		<div class="row">

   			<div class="header-content twelve columns">

		      <h1 id="logo-text"><a href="index.html" title="">Choose wisely.</a></h1>

		        <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>
                <a href="/logout">Log Out</a>


			</div>			
		</div>
	</header>

   <!-- Content
   ================================================== -->
   <div id="content-wrap">

   		<div class="row">

   			<div id="main" class="eight columns">

   				<% @places.each do |place| %>

	   		<article class="entry">

					<header class="entry-header">

						<h2 class="entry-title">
							<a href="single.html" title=""><%= place.name %></a>
						</h2> 				 
					
						<div class="entry-meta">
							<ul>
								<li><%= place.location %></li>
								<span class="meta-sep">&bull;</span>					
								<li><%= place.address %></li>
							</ul>
						</div> 
					 
					</header> 
					
					<div class="entry-content">
						<p><%= place.description %></p>
					</div> 

				<% end %>

			</article> 

</body>
</html>
