<!DOCTYPE html>
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Choose wisely.</title>

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
   <link rel="stylesheet" href="css/layout.css">  
   <link rel="stylesheet" href="css/media-queries.css"> 

</head>

<body>

  <header id="top">

        <div class="row">

          <div class="header-content twelve columns">

             <h1 id="logo-text"><a href="" title="">Choose wisely.</a></h1>
          </div>      
        </div>
  </header>

  <div id="content-wrap">

    <div class="row">

      <div id="main" class="eight columns">

        <form class="form-horizontal" action='' method="POST">
          <fieldset>
            <h1>Sign in</h1>
             <br />
          
              <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                  <input type="text" id="email" name="user[email]" placeholder="Enter your E-mail" class="input-xlarge" value="<%= @user.email %>">
                </div>
              </div>
          
              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" id="password" name="password" placeholder="Enter password" class="input-xlarge">
                </div>
              </div>
              <br />

              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button type="submit" class="submit">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
</body>
