<!DOCTYPE html>
<html>
<title>Трипотвайзер</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="reviews.css" rel="stylesheet">
<body>

<div class="w3-sidebar w3-collapse w3-white w3-animate-left w3-large" style="z-index:3;width:300px;" id="mySidebar">

<div id="nav01" class="w3-bar-block">
  <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">×</a>
  <% if session[:users_id] %>
      <button class="w3-button w3-green w3-large"><a href="/logout">Выйти</a></button>
  <% else %>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Войти</button>
  <button class="w3-button w3-green w3-large"><a href="/registration">Регистрация</a></button>
  <% end %>
  <a class="w3-bar-item w3-button" href="/places">Рестораны быстрого питания</a>
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      </div>

      <form class="w3-container" method="post" action="/login">
        <div class="w3-section">
          <label><b>Email</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Email" name="email" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div id="nav02">
  <a class="w3-bar-item w3-button" target="_blank" href="tryw3css_templates_black.htm"><img src="img_demo_black.png" style="width:100%;"></a>
  <a class="w3-bar-item w3-button" target="_blank" href="tryw3css_examples_album.htm"><img src="img_demo_summer.jpg" style="width:100%;"></a>
  <a class="w3-bar-item w3-button" target="_blank" href="tryw3css_examples_blog.htm"><img src="img_demo_blog.jpg" style="width:100%;"></a>
</div>

<div id="nav03">
  <div class="w3-container w3-border-bottom">
  </div>
</div>
</div>

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;">

<div class="w3-top w3-theme w3-large w3-hide-large">
  <i class="fa fa-bars w3-button w3-teal w3-xlarge" onclick="w3_open()"></i>
</div>

<header class="w3-container w3-theme w3-padding-64 w3-center">
  <h1 class="w3-xxxlarge w3-padding-16">Рыгаловки</h1>
</header>
<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="https://pbs.twimg.com/profile_images/1034554469697167361/CzZ-IrSa_400x400.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2><a href="/place/1">KFC</a></h2>
  <p>
  ммм ОБОЖАЮ КУРОЧКУ
  </p>
    <p>Адрес: ул. Романовская Слобода 13</p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="https://pbs.twimg.com/profile_images/972044325210263552/pJyPMPcX_400x400.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2><a href="/place/3">Burger King</a></h2>
  <p>
  Там продают пивас
  </p>
  <p>Адрес: пр-т. Победителей 9</p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="https://www.rd.com/wp-content/uploads/2017/12/the-true-story-behind-the-mysterious-mcdonalds-gold-card-673955074-Vytautas-Kielaitis-1024x683.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2><a href="/place/2">McDonald’s</a></h2>
  <p>
  «Макдо́налдс» — американская корпорация, до 2010 года крупнейшая в мире сеть ресторанов быстрого питания.
  </p>
    <p>Адрес: ул. Максима Танка 2</p>
</div>

</div>

</div>

</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

openNav("nav01");
function openNav(id) {
  document.getElementById("nav01").style.display = "none";
  document.getElementById("nav02").style.display = "none";
  document.getElementById("nav03").style.display = "none";
  document.getElementById(id).style.display = "block";
}
</script>

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>

<script>
w3CodeColor();
</script>

</body>
</html>
