<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Restaurant</title>
  </head>
  <body>
    <% if session[:users_id] %>
        <button class="w3-button w3-green w3-large"><a href="/logout">Выйти</a></button>
    <% else %>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Войти</button>
    <button class="w3-button w3-green w3-large"><a href="/registration">Регистрация</a></button>
    <% end %>
    <div>
  <% @places.each do |places| %>
    <a href="<%= "/place/#{places.id}" %>"><%= places.name %></a><br>
    <em><%= places.location %></em><br>
    <em><%= places.description %></em><br>
    <br>
  <% end %>
  </div>
  </body>
</html>
