<!DOCTYPE html>
<html>
<title>Регистрация</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Registration</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form class="w3-container w3-card-4" method="post" action="/registration">

<p>
<input class="w3-input" type="text" name="name" style="width:90%" required>
<label>Username</label></p>
<p>
<input class="w3-input" type="email" name="email" style="width:90%" required>
<label>Email</label></p>
<p>
<input class="w3-input" type="password" name="password" style="width:90%" required>
<label>Password</label></p>

<button class="w3-button w3-block w3-green w3-section w3-padding" style="width:30%"> Registration </button>

</form>
<p><a href="/home">
<label class="w3-button w3-block w3-green w3-section w3-padding" style="width:20%">На главную</label></a></p>

</div>

</body>
</html>
