
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Restaurants</title>
</head>
<body>
  <div id="nav01" class="w3-bar-block">

    <% if session[:user_id] %>
    <form method="post" action="/logout">
      <button class="w3-button w3-green w3-large" >Выйти</button>
    </form>
    <% else %>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large" ><a>Войти</a></button>
    <button class="w3-button w3-green w3-large"><a href="/registration">Регистрация</a></button>
    <% end %>
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

        <div class="w3-center"><br>
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        </div>

        <form class="w3-container" method="post" action="/log_in">
          <div class="w3-section">
            <label><b>Email</b></label>
            <input class="w3-input w3-border w3-margin-bottom" title="Введите сюда свой email" type="email" name="email"  required>
            <label><b>Password</b></label>
            <input class="w3-input w3-border" title="Введите сюда свой пароль" type="password" name="password"  required>
            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>

      </div>
    </div>
  </div>
  <hr>
  <% @restaurants.each do |restaurant| %>
    <a href="<%= "/restaurant/#{restaurant.id}" %>"><%= restaurant.name %></a><br>
    <%= restaurant.description %><br>
    <em><%= restaurant.location %></em><br>
    <br>
  <% end %>
  <p><a href="/home">
  <label class="w3-button w3-green w3-large" style="width:20%">На главную</label></a></p>
</body>
</html>
