<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form action="/auth/login" method="post">
		    <br>
		    <br>
	      	<h1 class="h4 mb-3 font-weight-normal">Please log in</h1>
			<div class="form-group"> 
		      <label for="inputEmail" class="sr-only">Email address</label>
		      <input type="email" class="form-control" placeholder="Email address" name="user[useremail]" required autofocus>
		    <div>
		    	<br>
			<div class="form-group"> 
		      <label for="inputPassword" class="sr-only">Password</label>
		      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="user[password]" required>
		    <div>
		    	<br>
	      	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
		</form>
	</div>	
	<div class="col-md-4"></div>
</div>