<form class="text-center" action="/login" method="post">
  <h3>Log In</h3>
  <input type="email" name="email" placeholder="Email address" required autofocus>
  <input type="password" name="password" placeholder="Password" required autofocus>
  <button type="submit">Log In</button>
</form>
