<form class="text-center" action="/registration" method="post">
  <h3>Registration</h3>
  <input type="username" name="username" placeholder="Username" required autofocus>
  <input type="email" name="email" placeholder="Email address" required autofocus>
  <input type="password" name="password" placeholder="Password" required autofocus>
  <button type="submit">Registration</button>
</form>
