<form class="comment" method="post" action="/leave_comment">
  <% if session[:message] %>
    <b><i><p class="message"><%= session[:message] %></p></i></b>
  <% end %>
  <div>
    <p><textarea name="text" cols="50" rows="10" placeholder="Ваш комментарий"></textarea></p>
    <input title="Ваша оценка заведению" name="score" type="number" min="1" max="5" step="1">
    <label>Ваша оценка заведению</label><br><br>
  </div>
  <button>Оставить комментарий</button><br>
</form>
