<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Войти в аккаунт</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
  <body align='center'>
  <form class="form-singing" method="post" action="/log_in">
    <p>Введите имэйл и пароль, чтобы войти в аккаунт</p>
    <input title="Сюда свою электронную почту" type="email" name="email" placeholder="kavoo@email.com" required><br><br>
    <input title="Твой пароль" type="password" name="password" placeholder="qwerty123" required><br><br>
    <button>Войди в меня</button>
  </form>
  <p><a href='/registration'>Регистрация</a></a>
  <p><a href="/restaurants" />На главную</p>
  </body>
</html>
