<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
  <body align='center'>
  <% if flash[:message] %>
    <b><i><p class="message"><%= flash[:message] %></p></i></b>
  <% end %>
  <form class="form-singing" method="post" action="/registrate">
    <p>Заполните формы для успешного завершения регистрации</p>
    <br><label><small><em>Наведите на поля для получения подсказок<em></small></label>
    <div>
      <input title="Введите ваше имя" type="text" name="name" placeholder="Валера" required><br><br>
      <input title="Введите ваш email" type="email" name="email" placeholder="sho@email.com" required><br><br>
      <input title="Придумайте и введите ваш пароль" type="password" name="password" placeholder="qwerty123" required><br><br>
    </div>
    <button>Клап</button><br>
  </form>
  <p><a href='/login'>Войти в аккаунт</a></a>
  <p><a href='/' />На главную</p>
  </body>
</html>
