<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
  <body align='center'>
  <form class="form-singing" method="post" action="/registrate">
    <p>Заполните формы для успешного завершения регистрации</p>
    <br><label><small><em>Наведи на поля для получения подсказок<em></small></label>
    <div>
      <input title="Введи сюда свое имя" type="text" name="name" placeholder="Валера" required><br><br>
      <input title="А сюда свою электронную почту" type="email" name="email" placeholder="sho@email.com" required><br><br>
      <input title="Здесь придумай свой пароль" type="password" name="password" placeholder="qwerty123" required><br><br>
    </div>
    <button>Клап</button><br>
  </form>
  <p><a href='/login'>Войти в аккаунт</a></a>
  <p><a href="/restaurants" />На главную</p>
  </body>
</html>
