<!DOCTYPE html>
<html>
<head>
  <title>Burgerham</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="/javascript/slide_menu.js"></script>
  <script type="text/javascript" src="/javascript/login.js"></script>
  <script type="text/javascript" src="/javascript/registration.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-light-grey">
  <%= erb :header %>
  <%= erb :errors %>
  <%= yield %>
</body>
</html>