<form class="text-center border border-light p-5" action="/registrations/signup" method="post">
  <p class="h4 mb-4">Registration form</p>
  <input type="text" name="name" class="form-control mb-4" placeholder="Name" />
  <input type="email" name="email" class="form-control mb-4" placeholder="E-mai">
  <input type="password" name="password" class="form-control mb-4" placeholder="Password">
  <button class="btn btn-info btn-block my-4" type="submit">Register</button>
</form>