* {
  font-family: 'Fix Sans';
  box-sizing: border-box
}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.header {
  background-color: #333;
  min-height: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  color: white;
  padding: 14px 16px 11px 12px;
}

.title {
  width: 243px;
  height: 30px;
}

.post_header {
  margin-top: 103px;
  height: 80%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.post_header {
  color: #000000;
}

.header_button {
  padding: 10px 14px;
  background: #007bff;
  color: white;
  border: none;
  font-weight: 600;
  float: right;
  margin-left: 10px;
}

.place {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.review {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.error {
  color: red;
}

.notification {
  color: green;
}