<div class = 'places'>
  <% @places.each do |place| %>
    <div class = 'place'>
       <a class = 'name' href = '/places/<%= place.id%>' ><%= place.name %></a>
       <p class = 'location'>Adress: <%= place.location %></p>
       <p class = 'main_description'>Description: <%= place.main_description %></p>
    </div>
  <% end %>
</div>
