<div class = 'sign_up'>
<form method = 'POST' action = '/sign_up'>
  <div>
    <label for = 'name'>Name</label><br>
    <input type = 'text' class = 'form_sign_up' id = 'name' name = 'name'>
  </div>

  <div>
    <label for = 'email'>E-mail</label><br>
    <input type = 'text' class = 'form_sign_up' id = 'email' name = 'email'>
  </div>

  <div>
    <label for = 'password'>Password</label><br>
    <input type = 'password' class = 'form_sign_up' id = 'password' name = 'password'>
    <label for = 'password'>Confirm password</label><br>
    <input type = 'password' class = 'form_sign_up' id = 'password2' name = 'password2'>
  </div>

  <button type = 'submit' class = 'btn_sign_up'>Sign up</button>
</form>
</div>
