<h2>List of establishments</h2>
<br />

<% @shops.each do |shop| %>
  <p>
    <a href="/shop/<%= shop['id'] %>">Name: <%= shop.name %></a>
    <br />
    <span class="d-inline-block text-truncate">
      Description: <%= shop.description %>
    </span>
    <br />
    Address: <%= shop.adress %>
  </p>
  <hr />
<% end %>