<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="container">
  <div class="row main-form">
    <form class="" method="post" action="/register">

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Your Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" required/>
            <div class="invalid-feedback">Fill in this field</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Your Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" required/>
            <div class="invalid-feedback">Fill in this field</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" required/>
            <div class="invalid-feedback">Fill in this field</div>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required/>
            <div class="invalid-feedback">Fill in this field</div>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <button type="submit" class="btn btn-default">Register</button>
      </div>

    </form>
  </div>
</div>
