<form class="form-horizontal" action='/registrations' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Sign up</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Name</label>
      <div class="controls">
        <input type="text" id="username" name="user[name]" placeholder="Enter your name" class="input-xlarge" value="<%= @user.name %>">
      </div>
    </div>
    <br />
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="user[email]" placeholder="Enter your E-mail" class="input-xlarge" value="<%= @user.email %>">
      </div>
    </div>
    <br />
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Enter password" class="input-xlarge">
      </div>
    </div>
    <br />

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Sign up</button>
      </div>
    </div>
  </fieldset>
</form>
